body.option-floating_header #body {
    padding-top: 60px !important;
}
body.option-floating_header #header {
    position: fixed !important;
    top: 0 !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: .4s box-shadow;
}
