/* Background color and shadows */
body, #main, #main-inner {
    background: white !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
}
#home-feed-container, .upcoming-events {
    box-shadow: none !important;
}

/* Navigation header */
#header {
    background-color: #cc3344 !important;
    border: none !important;
}
#header header,
nav[role="navigation"] li,
nav[role="navigation"] a,
nav[role="navigation"] button {
    background: none !important;
}
nav[role="navigation"] ul:first-of-type li:first-of-type a {}
/* colorful notification number bubble */
nav[role="navigation"] button svg ~ span {
    border: none !important;
    background: white !important;
    color: #cc3344 !important;
}
/* User profile picture in top right */
/* TODO: find a better selector */
.USYsM._5jizS.KWgmS._14XBn {
    border: none !important;
}

nav[role="navigation"] div[role="menu"],
/* search bar */
nav[role="navigation"] ul ul,
nav[role="navigation"] input {
    border: none !important;
    margin-top: 0 !important;
}

/* School colored links */
#wrapper a {
    color: #cc3344 !important;
}


#wrapper,
.update-body {
    /* TODO: use a simpler color everywhere */
    color: #677583 !important;
}
#wrapper * {
    font-size: 14px;
}

/* Course Dashboard tab, which I have never had a genuine reason to click on, and matching right column margin */
.sgy-tabbed-navigation {
    display: none !important;
}
#right-column {
    margin: 0 !important;
}

/* Junk at top of update stream */
#home-feed-container #edge-filters,
/* SMART BOX NOT SO SMART ANYMORE? */
#smart-box {
    display: none !important;
}

/* Upcoming items header */
#right-column {}
.upcoming-events {
    padding-top: 1px !important;
    margin-top: -5px !important;
}
.upcoming-events h3 {
    display: none !important;
}
.upcoming-events .date-header.first h4 {
    margin-top: 10px !important;
}

/* Compact feed */
/* multicolored arrows connecting poster with group/course */
.arrow-right,
.purple-arrow-right,
.green-arrow-right {
    background: none !important;
    width: auto !important;
    margin: 0 !important;
}
.arrow-right::after,
.purple-arrow-right::after,
.green-arrow-right::after {
    content: '-';
}
/* Hide user pictures, in theory this should be configurable */
/*.edge-left {
    display: none !important;
}
.edge-main-wrapper {
    padding-left: 0 !important;
}*/
/* Round user pictures */
.profile-picture img {
    height: 100% !important;
    border-radius: 100% !important;
    overflow: hidden !important;
}
/* Scale down link icons */
.attachments-link.clearfix {
    padding: 0 !important;
}
.inline-icon {
    margin: 0 !important;
}
.attachments-link-left .inline-icon {
    padding-right: 5px !important;
}
/* Hide displayed URL. Looks nice, maybe insecure. */
.attachments-link-summary {
    display: none !important;
}

.feed-comments {
    background: none !important;
}
