/* Background color and shadows */
body, #main, #main-inner {
    background: white !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
}
#home-feed-container, .upcoming-events {
    box-shadow: none !important;
}

/* Navigation header */
#header {
    background-color: #cc3344 !important;
    border: none !important;
}
#header header,
nav[role="navigation"] li,
nav[role="navigation"] a,
nav[role="navigation"] button {
    background: none !important;
}
nav[role="navigation"] ul:first-of-type li:first-of-type a {}
/* colorful notification number bubble */
nav[role="navigation"] button svg ~ span {
    border: none !important;
    background: white !important;
    color: #cc3344 !important;
}
/* User profile picture in top right */
/* TODO: find a better selector */
.USYsM._5jizS.KWgmS._14XBn {
    border: none !important;
}

nav[role="navigation"] div[role="menu"],
/* search bar */
nav[role="navigation"] ul ul,
nav[role="navigation"] input {
    border: none !important;
    margin-top: 0 !important;
}

/* Reset popup group/course menus to close to old format */
nav[role="navigation"] div[role="menu"] {
    position: relative !important;
}
/* header of course/group menus */
nav[role="navigation"] div[role="menu"] .CjR09._8a6xl._1tpub h2 {
    display: none !important;
}
/* rows of courses or groups */
nav[role="navigation"] div[role="menu"] ._1tpub {
    flex-direction: column;
    margin: 0 !important;
}
/* individual course items, need to be stretched to not go in a row */
nav[role="navigation"] div[role="menu"] ._3hM4e._3_a9F.zJU7e {
    width: 100% !important;
    display: block !important;
    border: 0 !important;
}
/* container immediately inside course card */
._36sHx._3M0N7.fjQuT._1EyV_,
._1Z0RM._1tpub
{
    padding: 0 !important;
    height: auto !important;
}
._36sHx._3M0N7.fjQuT._1EyV_ :nth-child(n+2) {
    display: none !important;
}
nav[role="navigation"] div[role="menu"] article a > div:first-of-type {
    display: none !important;
}

/* School colored links */
#wrapper a {
    color: #cc3344 !important;
}


#wrapper,
.s-like-sentence,
.update-body {
    /* TODO: use a simpler color everywhere */
    color: #677583 !important;
}
#wrapper * {
    font-size: 14px;
}

/* Course Dashboard tab, which I have never had a genuine reason to click on, and matching right column margin */
.sgy-tabbed-navigation {
    display: none !important;
}
#right-column {
    margin: 0 !important;
}

/* Junk at top of update stream */
#home-feed-container #edge-filters,
/* SMART BOX NOT SO SMART ANYMORE? */
#smart-box {
    display: none !important;
}

/* Upcoming items header */
#right-column {}
.upcoming-events {
    padding-top: 1px !important;
    margin-top: -5px !important;
}
.upcoming-events h3 {
    display: none !important;
}
.upcoming-events .date-header.first h4 {
    margin-top: 10px !important;
}

/* Compact feed */
/* multicolored arrows connecting poster with group/course */
.arrow-right,
.purple-arrow-right,
.green-arrow-right {
    background: none !important;
    width: auto !important;
    margin: 0 !important;
}
.arrow-right::after,
.purple-arrow-right::after,
.green-arrow-right::after {
    content: '-';
}
/* Hide user pictures, in theory this should be configurable */
/*.edge-left {
    display: none !important;
}
.edge-main-wrapper {
    padding-left: 0 !important;
}*/
/* Round user pictures */
.profile-picture img {
    height: 100% !important;
    border-radius: 100% !important;
    overflow: hidden !important;
}
.update-body {
    margin-top: 3px !important;
}
/* Scale down link icons */
.attachments-link.clearfix {
    padding: 0 !important;
}
.inline-icon {
    margin: 0 !important;
}
.attachments-link-left .inline-icon {
    padding-right: 5px !important;
}
/* Hide displayed URL. Looks nice, maybe insecure. */
.attachments-link-summary {
    display: none !important;
}

.feed-comments {
    background: none !important;
    padding: 0 !important;
}
.s-like-sentence,
.comment {
    border: none !important;
}
.feed-comments textarea {
    padding: 5px 10px 10px !important;
    border-radius: 5px !important;
}
.feed-comments .submit-span-wrapper {
    background: none !important;
    border: none !important;
    height: 35px !important;
}
.feed-comments input[type="submit"] {
    padding: 10px 12px !important;
    background: #cc3344 !important;
    border: none !important;
    height: 100% !important;
}
.feed-comments textarea:focus,
.feed-comments input:focus {
    outline: none !important;
}
