/* General */
body {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important !important;
}

/* Background color and shadows */
body, #main, #main-inner {
    background: white !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
}
#home-feed-container, .upcoming-events {
    box-shadow: none !important;
}
/* Override inconsistent text coloring */
#wrapper,
.gray,
.s-like-sentence,
.update-body,
.update-body *,
.s-poll-option-title,
.popups-body,
#right-column h3 span,
#right-column h4,
.upcoming-time,
._1wP6w._3ghFm {
    color: #525D68 !important;
}
/* Sometimes when people copy and paste into the update composer the style will be odd. Correct for this. */
.update-body * {
    font-size: inherit !important;
    font-family: inherit !important;
    background-color: inherit !important;
}
/* TODO: Couldn't we just do this for *? */
#wrapper *,
.popups-box * {
    font-size: 14px !important;
}

/* Navigation header */
#header {
    background-color: #0C88C2 !important;
    border: none !important;
}
#header header,
nav[role="navigation"] li,
nav[role="navigation"] li > a,
nav[role="navigation"] button {
    background: none !important;
}
/* Make navigation tabs normally capitalized */
nav[role="navigation"] > ul > li > a,
nav[role="navigation"] > ul > li > button,
nav[role="navigation"] > ul > li > div > button > span {
    text-transform: capitalize !important;
}

nav[role="navigation"] ul:first-of-type li:first-of-type a {}
/* colorful notification number bubble */
nav[role="navigation"] button svg ~ span {
    border: none !important;
    background: white !important;
    color: #0C88C2 !important;
}
/* User profile picture in top right */
/* TODO: find a better selector */
._1tpub .USYsM._5jizS.KWgmS._14XBn {
    border: none !important;
}
/* hide text next to user picture */
._1tpub .LGaPf {
    display: none !important;
}

nav[role="navigation"] div[role="menu"],
/* search bar */
nav[role="navigation"] ul ul,
nav[role="navigation"] input {
    border: none !important;
    margin-top: 0 !important;
}

/* Reset popup group/course menus to close to oldish format */
nav[role="navigation"] ul:first-child div[role="menu"] {
    /* Stop menus from taking up full page */
    top: auto !important;
    left: auto !important;
    width: auto !important;

    padding: 5px;
}
/* Course list container */
nav[role="navigation"] ul:first-child div[role="menu"] > div {
    margin: 0 !important;
    padding: 0 !important;
    padding-left: 5px !important;
}
/* "My Courses" button */
.CjR09._8a6xl > ._3ghFm {
    padding-bottom: 10px !important;
}

/* header of course/group menus */
nav[role="navigation"] ul:first-child div[role="menu"] .CjR09._8a6xl._1tpub h2 {
    display: none !important;
}
/* rows of courses or groups */
nav[role="navigation"] ul:first-child div[role="menu"] ._1tpub {
    flex-direction: column;
    margin: 0 !important;
}
/* individual course items, need to be stretched to not go in a row */
nav[role="navigation"] ul:first-child div[role="menu"] ._3hM4e._3_a9F.zJU7e {
    width: 100% !important;
    display: block !important;
    border: 0 !important;
    outline: none !important;
    margin-bottom: 5px !important;
}
/* container immediately inside course card */
ul:first-child ._36sHx._3M0N7.fjQuT._1EyV_,
ul:first-child ._1Z0RM._1tpub {
    padding: 0 !important;
    height: auto !important;
}
ul:first-child ._36sHx._3M0N7.fjQuT._1EyV_ :first-child {
    padding: 0 !important;
}
ul:first-child ._36sHx._3M0N7.fjQuT._1EyV_ :nth-child(n+2) {
    display: none !important;
}
nav[role="navigation"] ul:first-child div[role="menu"] article {
    padding: 0 !important;
    border: none !important;
}
nav[role="navigation"] ul:first-child div[role="menu"] article a {
    /* Remove border around course */
    outline: none !important;
}
/* course image in list */
nav[role="navigation"] ul:first-child div[role="menu"] article a > div:first-of-type {
    display: inline-block !important;
    height: 50px !important;
    width: 50px !important;
    margin-right: 10px !important;
    vertical-align: middle !important;
}
nav[role="navigation"] ul:first-child div[role="menu"] article a > div:nth-of-type(2) {
    display: inline-block;
    width: 70% !important;
    vertical-align: middle !important;
}
/* Some menus have very odd font weights */
/* Notifications */
._2awxe._3skcp._26UWf._2nSV0 *,
nav[role="navigation"] ul:nth-child(2) li,
/* List items under profile menu */
nav[role="navigation"] ul:nth-child(2) ._2JX1Q._3VHSs._1k0yk a {
    /* This is a little too bold, in theory it would be nice to have a middle ground */
    /*font-weight: 700 !important;*/
}

/* Eliminate inconsistent school colored links */
#wrapper a,
/* "My Courses" and "My Groups" links in menus */
nav[role="navigation"] ul:first-child div[role="menu"] ._3ghFm,
/* Links in notifications menu */
._2awxe._3skcp._1tpub a,
/* Profile dropdown options will disappear because we've removed their background. To compensate, just prevent them from changing color to white. */
._2T2dA.Header-header-drop-menu-3SaYV a, ._2T2dA.Header-header-drop-menu-3SaYV a:hover,
footer a,
.feed-comments-viewall,
.like-btn span,
/* poll refresh button */
.s-polls-refresh-poll,
.ajax-post-comment,
/* override colors of links in specially formatted updates */
.update-body a,
.update-body a span,
/* list of users in who liked this popup, and probably other things */
.popups-body a {
    color: #0C88C2 !important;
    text-decoration-color: #0C88C2 !important;
}
/* enforce consistent primary-button styling */
/* old-style components */
.submit-span-wrapper,
/* TODO: ew */
a.delete2-btn.link-btn, a.delete2-btn[href^=/messages/ajax/delete],
input[type="submit"],
.form-submit,
#edit-submit,
/* join group buttons */
.groups-enroll,
/* on modernly-designed components */
/* language popup and maybe other things */
div[role="menu"] a._1SIMq._2kpZl._3OAXJ,
._1f1I3._35u4I.IaH_B button {
    background: #0C88C2 !important;
    color: white !important;
    border: none !important;
}
/* TODO: WHY DOESN'T THIS WORK UNDER THE ABOVE SELECTOR?? */
.groups-enroll {
    background: white !important;
    color: white !important;
    border: none !important;
}
.submit-span-wrapper,
.cancel-btn {
    border: none !important;
}
.cancel-btn {
    background-image: none !important;
    box-shadow: none !important;
}
div[role="menu"] button {
    color: #0C88C2 !important;
}
/* X button on some popup windows */
._3uqhr._9e7c_._13ccs {
    background: none !important;
}
._3uqhr._9e7c_._13ccs svg {
    fill: #0C88C2;
}

/* Popups are used for "who liked this" popups, initial message compositions, etc. */
#popups-overlay {
    opacity: 0.2 !important;
}
.popups-box,
#popups-loading {
    padding: 0 !important;
    border-radius: 0 !important;
    overflow: visible !important;
    border: none !important;
    background: white !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) !important;
}
#popups-loading div {
    border: none !important;
    background-color: none !important;
}
.popups-title {
    background: #0C88C2 !important;
    border: none !important;
}
.popups-box .popups-body {
    padding: 0 !important;
    outline: none !important;
    border: none !important;
}
.popups-box .submit-buttons {
    position: static !important;
    background: white !important;
    border: none !important;
}
.popups-box .comment-comment .comment-author a {
    /* Looks waaaay too bold on some devices. TODO: fix this in a consistent way. */
    /*font-weight: 400 !important;*/
}
.update-comments-pagenation {
    /* pagination bar at top of view comments popup */
    /* This way the bar won't show unless for some reason there are actually multiple pages.
     * I cannot imagine why these comments would even be paginated, much less split into their own separate popup window.
     * It just makes no sense. Why would you put so many layers on your UI?
     * If you want to protect people from scrolling, why not go all the way? Why would you allow them to scroll for a little while,
     * then make them change their mouse behavior to click on a tab that they shouldn't ever have to?
     * The mysteries of this website may forever elude me. */
    height: auto !important;
    min-height: 0 !important;
    padding: 0 !important;
    background: none !important;
    border: none !important;
    outline: none !important;
}
.update-comments-pagenation .pagenation-count {
    display: none !important;
}
.update-comments form {
    border: none !important;
}

/* Course Dashboard tab, which I have never had a genuine reason to click on, and matching right column margin */
.sgy-tabbed-navigation {
    display: none !important;
}
#right-column {
    margin: 0 !important;
}

/* Junk at top of update stream */
#home-feed-container #edge-filters,
/* SMART BOX NOT SO SMART ANYMORE? */
#smart-box {
    display: none !important;
}

/* Upcoming items header */
#right-column {}
.upcoming-events {
    padding-top: 1px !important;
    margin-top: -5px !important;
}
/* Upcoming and Overdue headers, homepage only */
#right-column.sHome-processed h3 {
    display: none !important;
}
.overdue-submissions {
    padding-top: 1px !important;
}
.upcoming-events .date-header.first h4 {
    margin-top: 10px !important;
}

/* Compact feed */
/* multicolored arrows connecting poster with group/course */
.arrow-right,
.school-arrow-right,
.purple-arrow-right,
.green-arrow-right {
    background: none !important;
    width: auto !important;
    margin: 0 !important;
}
.arrow-right::after,
.school-arrow-right::after,
.purple-arrow-right::after,
.green-arrow-right::after {
    content: '-';
}
/* Hide user pictures, in theory this should be configurable */
/*.edge-left {
    display: none !important;
}
.edge-main-wrapper {
    padding-left: 0 !important;
}*/
/* Round user pictures */
/* Needs qualifier or else course photos will also count */
.item-list .profile-picture img,
.message-view-row .picture img {
    margin-top: 4px;
}
.update-body {
    margin-top: 3px !important;
}
/* Scale down link icons */
.attachments-link.clearfix {
    padding: 0 !important;
}
.s-polls-poll-option {
    border-color: #eee !important;
}
/* needs .edge-main qualifier to not interfere with file lists in course pages */
.edge-main .inline-icon {
    margin: 0 !important;
}
.attachments-link-left .inline-icon {
    padding-right: 5px !important;
}
.attachments-link-title {
    margin-top: 5px !important;
}
/* Hide displayed URL. Looks nicer, though perhaps less safe. */
.attachments-link-summary {
    display: none !important;
}

/* Remove line under View All Comments button */
.feed-comments-viewall-container {
    border: none !important;
    padding-top: 10px !important;
    padding-bottom: 0 !important;
}
.feed-comments-viewall {
    padding: 0 !important;
    background: none !important;
}
.feed-comments-viewall::before {
    content: '💬 ';
}
/* Force like info into line with date & buttons */
.feed-comments,
.s-like-sentence {
    display: inline !important;
}
/* Hide smiley face icon; we'll use an emoji instead */
.s-like-sentence span {
    display: none !important;
}
.s-like-sentence,
.comment .like-details-btn {
    padding-left: 0 !important;
}
.comment .like-details-btn {
    background: none !important;
}
.like-btn {
    text-decoration: none !important;
    margin-right: -1px;
}
.like-btn::before {
    content: '👍 ';
}
.feed-comments {
    background: none !important;
    padding: 0 !important;
}
.s-like-sentence,
.comment {
    border: none !important;
}
.s-like-sentence::before,
.comment .like-details-btn::before {
    content: '(';
}
.s-like-sentence::after,
.comment .like-details-btn::after {
    content: ')';
}
.feed-comments textarea {
    /* On FF the text will get cut off if we just use padding to create height. */
    padding: 5px 5px 0 !important;
    min-height: 1.7em !important;
}
textarea:focus,
input:focus {
    outline: none !important;
}

/* Message threads */
#main-content-wrapper,
.message-view-row {
    border: none !important;
}
#center-top,
.tabs.primary {
    background: none !important;
}
/* TODO: this same styling could apply to many more elements, not just message box. Find more generic selector */
form#privatemsg-new {}
form#privatemsg-new {
    border-radius: 5px !important;
}
.s_message_box ~ form#privatemsg-new label {
    display: none !important;
}
form#privatemsg-new #attachments #attachment-selector {
    margin-top: 2px;
    border: none !important;
    background: none !important;
}
form#privatemsg-new #attachments #attachment-selector li {
    border: none !important;
}
/* as far as I can see, the Cancel button doesn't actually do anything, so just hide it */
form#privatemsg-new .cancel-btn {
    display: none !important;
}

/* Course pages */
/* Course title header; remove borders */
#center-top {
    border: none !important;
}
.content-top-upper {
    border: none !important;
    background: none !important;
    padding-bottom: 0 !important;
}
.has-right-col #center-inner {
    /* For some reason this selector is used to create a grey border with a background image... so many bad decisions... */
    background: none !important;
}
/* Unnecessary course switching dropdowns in top right */
.realm-top-right {
    display: none !important;
}
/* "All Materials" dropdown container and unnecessary padding/line */
.materials-top {
    /* Hiding totally may be a problem in teacher interface? */
    /*display: none !important;*/
    /* This way it will only show if there is anything inside */
    min-height: 0 !important;
    height: auto !important;
    border: none !important;
}
.materials-filter-wrapper {
    /* All Materials dropdown itself */
    display: none !important;
}
/* Hide borders of resource items */
.folder-contents-cell {
    border: none !important;
}
/* Remove outline from folder expand button */
.folder-contents-cell span[role="button"] {
    outline: none !important;
}
/* Upcoming header with calendar button */
h3#event-selector {
    border: none !important;
}
/* TEMPORARILY DISABLED; apparently this causes problems in teacher interface */
/*
.left-block-wrapper {
    display: none !important;
}
*/
.course-material-navigator .navigator-buttons {
    display: none !important;
}
/* Comments section on assignments */
.assignment-details {
    border: none !important;
    padding-bottom: 0 !important;
}
/* Comments header and No comments indicator */
.assignment-details ~ .comment-container .comment-container-header,
.no-comments {
    display: none !important;
}
/* Remove odd left space on comment box */
.hide-label .form-item {
    padding-left: 6px !important;
    padding-top: 2px !important;
}
.hide-label + .submit-span-wrapper {
    margin-left: 0 !important;
}

/* Submission viewer */
/* "Submission Activity" header area at top of right sidebar */
.dropbox-viewer-submission-activity,
/* Bar button to hide/show right sidebar */
#dropbox-viewer-right-toggle {
    display: none !important;
}
/* Increase width to compensate for removing open/close button */
#dropbox-viewer-right {
    /* Normally 300px */
    width: 335px !important;
    background-color: white !important;
}
/* Comment list */
#dropbox-viewer-comments {
    margin: 0 !important;
    border-bottom: none !important;
    box-shadow: none !important;
}
/* PDF viewer area */
#dropbox-viewer-left {
    padding-left: 10px !important;
    background: white !important;
}
/* Readout of user's name at top */
#dropbox-viewer-user-select-wrapper-outer.select-wrapper.single-user {
    display: none !important;
}
/* Header has fixed width and needs to be made smaller to account for removal of name */
#dropbox-viewer-header {
    height: 0 !important;
}
/* Document viewer box */
.dropbox-viewer-item-wrapper {
    /* Normally uses calc, so I will too */
    height: calc(100% - 40px) !important;
}
/* X button on dropbox interface */
.dropbox-viewer-header .popups-close {
    /* Match default top property */
    float: none !important;
    position: fixed !important;
    /* Fun story: this needs to cover #dropbox-viewer-right, which actually uses a z-index of 2000 */
    /* in awe at the size of this z-index. absolute units */
    z-index: 2001 !important;
    right: 10px !important;
}

/* Footer */
footer nav {
    float: right !important;
    margin-left: 6px !important;
}
/* We need to compress footer text a little bit or else on some browsers (FF) it overflows when viewport is not wide */
footer > div { line-height: 5.9rem !important; /* normally 6rem */ }
footer nav button { line-height: inherit !important; }
#site-navigation-footer {
    overflow: hidden;
}
#site-navigation-footer iframe {
    position: fixed;
    width: 0;
    height: 0;
}
