#brand {
    animation: colors 3s infinite linear;
}
body {
    /* Flip profile page */
    /*transform: scaleX(-1) scaleY(-1);
    overflow-x: hidden;*/
}
@keyframes colors {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}
